<div>
  <div class="flex justify-between items-center py-5">
    <div>
      <a href="">
        <img class="rounded-full w-9 h-9"
        [src]="'https://ui-avatars.com/api/?name='+user()?.name"
        alt="avatar">
      </a>
    </div>
    <div (click)="openCreateDialog()" class="md:w-[77%] w-[65%] dark:text-stone-500 text-[#b8b8b8] cursor-text">
      <span>
        Start a thread...
      </span>
    </div>
    <div>
      <button class="dark:bg-[#4d4d4d] bg-[#b8b8b8] rounded-2xl px-4 py-1 font-sans font-semibold text-base
       text-white dark:text-black" type="button" disabled>Post</button>
    </div>
  </div>
</div>
