<nav class="dark:text-white  w-full h-20 text-3xl font-bold">
  <div class="flex justify-between">
    <a class="w-20 h-16 flex justify-center mx-[2px] my-1
    items-center transition ease-in-out delay-350 duration-400 rounded
    text-[#4d4d4d] hover:bg-stone-900"><ng-icon class="text-4xl" name="heroHomeMini"/></a>

    <a class="w-24 h-16 flex justify-center mx-[2px] my-1
    items-center transition ease-in-out delay-350 duration-400 rounded
    text-[#4d4d4d] hover:bg-stone-900"><ng-icon class="text-4xl" name="heroMagnifyingGlass"/></a>

    <a class="w-24 h-16 flex justify-center mx-[2px] my-1
    items-center transition ease-in-out delay-350 duration-400 rounded
    text-[#4d4d4d] hover:bg-stone-900"><ng-icon class="text-4xl" name="heroPencilSquare"/></a>

    <a class="w-24 h-16 flex justify-center mx-[2px] my-1
    items-center transition ease-in-out delay-350 duration-400 rounded
     text-[#4d4d4d] hover:bg-stone-900"><ng-icon class="text-4xl" name="heroHeart"/></a>

    <a class="w-24 h-16 flex justify-center mx-[2px] my-1
    items-center transition ease-in-out delay-350 duration-400 rounded
    text-[#4d4d4d] hover:bg-stone-900"><ng-icon class="text-4xl" name="heroUser"/></a>
  </div>
</nav>
