<div class=" flex flex-col items-center font-sans">
  <div class="w-screen md:w-[620px] px-6 py-3">
    <div class="w-full flex items-center rounded-2xl border border-black p-5 mb-4 dark:text-[#4d4d4d] text-[#b8b8b8]
    dark:bg-black dark:border-[#4d4d4d]">
      <ng-icon class="text-lg" name="heroMagnifyingGlass"/>
      <input class="w-full dark:bg-black ml-3 text-base outline-none" placeholder='Search'  type="text">
    </div>
    <div *ngIf="!loading">
      <div class="grid grid-cols-[1fr_9fr] grid-rows-1 py-5 md:py-4 dark:text-white" *ngFor="let user of users">
        <div class="flex justify-center items-start">
          <a [routerLink]="['/profile', user.userName]">
            <img class="rounded-full w-9 h-9" [src]="'https://ui-avatars.com/api/?name='+user.name" alt="avatar">
          </a>
        </div>
        <div class="md:w-full sm:w-[91%] pl-4 sm:pl-0 text-base">
            <a [routerLink]="['/profile', user.userName]" class="hover:underline font-semibold">{{user.userName}}</a>
            <br>
            <span class="font-normal dark:text-[#4d4d4d] text-[#b8b8b8]">{{user.name}}</span>
            <hr class="dark:bg-[#4d4d4d] bg-[#b8b8b8] border-none h-[1px] mt-3">

          <!-- <span class="font-light align-middle">
            {{thread?.text}}
          </span>  -->
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="text-center text-xl h-[300px] flex justify-center items-center">
      <ng-icon class="animate-spin text-white ml-1" name="faSolidSpinner"/>
    </div>
  </div>
</div>
