<div class="text-[#b8b8b8] dark:text-[#4d4d4d] flex justify-between h-full">
  <button type="button" class="btn btn-outline-primary items-center transition ease-in-out delay-350 duration-400
  dark:hover:text-white hover:text-black" [class.dark:hover:text-white]="darkMode()"
  cdkOverlayOrigin #buergerMenu = 'cdkOverlayOrigin' (click)="isOpen = !isOpen">
    <ng-icon class="text-4xl" name="cssMenuRight"/>
  </button>
</div>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="buergerMenu" [cdkConnectedOverlayOpen]="isOpen"
[cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="closeToggle()" [cdkConnectedOverlayPositions]="[
{
    originX: 'start',
    originY: 'bottom',
    overlayX: 'end',
    overlayY: 'top',
    offsetX: 50,
    offsetY: -20
}
]"
[cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" (detach)="closeToggle()">
  <div [class.dark]="darkMode()">
    <div id="buergerMenu" [class.hidden]="showThemeOptions" [class.flex]="!showThemeOptions" class="font-sans text-base w-44 h-fit flex-col
    justify-between font-semibold rounded-2xl dark:bg-[#181818] dark:text-white
    shadow-lg dark:shadow-none border-t-[1px] border-gray-100 dark:border-none hover:cursor-pointer">
      <a class="mx-4 mt-3 mb-3" (click)="showThemeOptions = true">Appereance</a>
      <div class="border-t-[0.5px] dark:border-stone-700 border-[#b8b8b8] flex">
        <a class=" w-full h-full mx-4 my-3 ">Settings</a>
      </div>
      <div class="border-t-[0.5px] dark:border-stone-700 border-[#b8b8b8] flex">
        <a class=" w-full h-full mx-4 my-3 ">Saved</a>
      </div>
      <div class="border-t-[0.5px] dark:border-stone-700 border-[#b8b8b8] flex">
        <a class=" w-full h-full mx-4 my-3 ">Your likes</a>
      </div>
      <div class="border-t-[0.5px] dark:border-stone-700 border-[#b8b8b8] flex">
        <a class=" w-full h-full mx-4 my-3 ">Report a problem</a>
      </div>
      <div class="border-t-[0.5px] dark:border-stone-700 border-[#b8b8b8] flex">
        <a class=" w-full h-full mx-4 my-3 ">Log out</a>
      </div>
    </div>

    <div [class.flex]="showThemeOptions" [class.hidden]="!showThemeOptions" class="font-sans text-base w-fit h-fit flex-col
    justify-between font-semibold rounded-2xl dark:bg-[#181818] dark:text-white
    shadow-lg dark:shadow-none border-t-[1px] border-gray-100 dark:border-none">
      <div class="p-4">
        <div class="flex flex-row items-center justify-between">
          <button class="flex justify-between h-full" (click)="showThemeOptions = false">
            <ng-icon class="text-xl" name="heroArrowLeft"/>
          </button>
          <p class="m-0 mb-0">Appearence</p>
          <div></div>
        </div>
        <div class="flex justify-center pt-4 pb-1 text-[#b8b8b8]">
          <div class="switch3 w-[310px] dark:bg-black bg-[#fafafa] dark:text-[#4d4d4d]
            text-[#b8b8b8] rounded-2xl text-center">
            <input [(ngModel)]="selectedTheme" type="radio"
              (change)="changeTheme($event)"
              id="switch3-radio1" name="radio" value="light"/>
            <label class="w-[20%]" for="switch3-radio1"><ng-icon class="text-xl" name="heroSun"/></label>

            <input [(ngModel)]="selectedTheme" type="radio"
              (change)="changeTheme($event)"
              id="switch3-radio2" name="radio" value="dark"/>
            <label class="w-[20%]" for="switch3-radio2"><ng-icon class="text-xl" name="heroMoon"/></label>

            <input [(ngModel)]="selectedTheme" type="radio"
              (change)="changeTheme($event)"
              id="switch3-radio3" name="radio" value="system"/>
            <label class="w-[20%]" for="switch3-radio3">Auto</label>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
