<div class="min-h-screen flex flex-col dark:bg-black">
  <div class="flex justify-around">
    <div class="max-h-20 flex items-center">
      <a href="">
        <img class="w-11 h-11" [src]="darkMode() ? '../assets/threads-white.svg' : '../assets/threads-black.svg'" alt="logo">
      </a>
    </div>
    <navbar class="max-w-[480px] max-h-20"/>
    <burger-menu class="max-h-20"/>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
  <button (click)="toggleDarkMode()">toggle</button>
</div>
