<div>
  <div class="grid grid-cols-[1fr_9fr] grid-rows-1 py-5 md:py-4 dark:text-white ">
    <div>
      <a href="">
        <img class="rounded-full w-9 h-9" [src]="'https://ui-avatars.com/api/?name='+thread?.user?.name" alt="avatar">
      </a>
    </div>
    <div class="md:w-full sm:w-[91%] pl-4 sm:pl-0">
      <div class="flex justify-between">
        <span>{{thread?.user?.userName}}</span>

        <div class="flex items-center">
          <span class="dark:text-stone-500 text-[#b8b8b8]">{{timeSince(thread?.createdAt)}}</span>
          <ng-icon class="ml-4" name="heroEllipsisHorizontalMini"/>
        </div>
      </div>
      <span class="font-light align-middle">
        {{thread?.text}} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati veniam provident temporibus tempore repellendus quaerat inventore, id iste minima rem! Qui ab sequi hic ducimus explicabo, vero dolor cum cupiditate!
      </span>
    </div>
  </div>
  <hr class="dark:bg-[#4d4d4d] bg-[#b8b8b8] border-none h-[1px]">
</div>

